.ag-cell {
    padding: 0 !important;
}

.ag-header-cell {
    padding: 0 10px;

}

.ag-header-cell-text {
    overflow: visible;
}

.flex-column-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.tooltip-css {
    position: absolute;
    padding: 8px;
    background-color: var(--dark-button);
    border-radius: 8px;
    border: 1px solid var(--dark-border);
}

.cell-not-button {
    all: inherit;
}

.cell-not-button:hover {
    all: inherit;
}

.cell-not-button:focus,
.cell-not-button:focus-visible {
    all: inherit;
}

@media (prefers-color-scheme: light) {
    .tooltip-css {
        background-color: var(--light-background);
        border: 1px solid var(--light-border);
    }

    .cell-not-button {
        all: inherit;
    }
}

html[data-theme="light"] .tooltip-css {
    background-color: var(--light-background);
    border: 1px solid var(--light-border);
}

html[data-theme="light"] .cell-not-button {
    all: inherit;
}
