.outfit-planner {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.display-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-background);
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.display-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.display-item {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: var(--dark-button);
    border-radius: 8px;
}

.display-image {
    position: relative;
}

.draggable {
    position: absolute;
    background-color: transparent !important;
    user-select: none;
}

.download-button {
    padding: 0.25rem;
    width: 100px;
}

.movers {
    right: 0;
    display: flex;
    flex-direction: column;
}

.mover-header {
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    border-radius: 8px 8px 0 0;
    color: var(--dark-text)
}

.mover {
    padding: 0.1rem 0.5rem;
    border: 2px solid transparent;
    border-radius: 0;
}

.selected-mover {
    border: 2px solid var(--link);
}

.selected-sources {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 0 1rem;
    padding: 0 1rem;
}

.remove-selection {
    align-self: start;
    padding: 0;
    margin-top: 3px;
    border: none;
    background-color: transparent !important;
}

.remove-selection:hover {
    color: var(--x-hover);
}

.remove-selection:focus,
.remove-selection:focus-visible {
    color: var(--link-hover)
}

.warning {
    padding: 0 1rem;
    font-weight: bold;
    color: var(--red);
}

.tabs-container {
    overflow: hidden;
}

.all-tabs {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tab {
    border-radius: 8px 8px 0 0;
    border-width: 2px;
    padding: 0.25rem 0.75rem;
}

.tab[data-state="active"] {
    border-color: white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    border-top: 5px solid var(--dark-button);
    border-bottom: 5px solid var(--dark-button);
    background-color: var(--dark-button);
    overflow-y: auto;
}

.gallery[data-state="inactive"] {
    display: none;
}

.gallery-item {
    display: grid;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-background);
}

@media (prefers-color-scheme: light) {
    .display-wrapper {
        background-color: var(--light-background);
    }

    .display-item {
        background-color: var(--light-button);
    }

    .gallery {
        border-top: 5px solid var(--light-button);
        border-bottom: 5px solid var(--light-button);
        background-color: var(--light-button);
    }

    .gallery-item {
        background-color: var(--light-background);
    }
}

html[data-theme="light"] .display-wrapper {
    background-color: var(--light-background);
}

html[data-theme="light"] .display-item {
    background-color: var(--light-button);
}

html[data-theme="light"] .gallery {
    border-top: 5px solid var(--light-button);
    border-bottom: 5px solid var(--light-button);
    background-color: var(--light-button);
}

html[data-theme="light"] .gallery-item {
    background-color: var(--light-background);
}
