:root {
    --dark-text: #e3e3e3;
    --dark-background: #242424;
    --dark-link: #646cff;
    --dark-link-hover: #535bf2;
    --dark-button: #1a1a1a;
    --dark-border: #4b4b4b;
    --dark-x-hover: #858585;
    --dark-separator: #9f9f9f;
    --dark-card: #2b2b2b;

    --light-text: #213547;
    --light-background: #ffffff;
    --light-button: #e0e0e0;
    --light-border: #c3c3c4;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--dark-text);
    background-color: var(--dark-background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: var(--dark-link);
    text-decoration: inherit;
}

a:hover {
    color: var(--dark-link-hover);
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    background-color: inherit;
    color: inherit;
}

h1 {
    font-size: 3.2rem;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--dark-button);
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: var(--dark-link);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: var(--light-text);
        background-color: var(--light-background);
    }

    button {
        color: var(--light-text);
        background-color: var(--light-button);
    }
}

html[data-theme="light"] {
    color: var(--light-text);
    background-color: var(--light-background);
}

html[data-theme="light"] button {
    color: var(--light-text);
    background-color: var(--light-button);
}
