.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 200px;
    width: 500px;
    max-width: 500px;
    max-height: 375px;
    padding: 1rem;
    gap: 1rem;
    border-radius: 8px;
    background-color: var(--dark-card);
}

.link {
    color: var(--dark-text);
    text-decoration: underline;
}

.link:hover {
    color: var(--link-hover)
}

.image {
    object-fit: contain;
    min-height: 0;
}

.contact-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 0.5rem;
}

@media (prefers-color-scheme: light) {
    .item {
        background-color: var(--light-button);
    }

    .link {
        color: var(--light-text);
    }
}

html[data-theme="light"] .item {
    background-color: var(--light-button);
}

html[data-theme="light"] .link {
    color: var(--light-text);
}
